.formu{
    width: 60%;
}

.boti{
    width: 40%;
    height: 30%;
}

.uno{
    margin-left: 40%;
}

.b1{    
   margin-left: 1200%;
}
.mov{
    margin-left: 200%;
}

.b2{
    margin-left: 1100%;
}

.b3{
    margin-left: 1000%;
}